
img{
    width: 1800px;
    height: 1020px ;
    background-image: true;
}
.signUpMainDiv{
    margin-left: 1260px;
    background-color: rgba(200, 88, 155, 0.855);
    height: 400px;
    width: 535px;
}


.formDiv{
    margin-left: 300px;
    background-color: rgba(226, 225, 225, 0.567);
    height: 920px;
    width: 600px;
    border-radius: 5px;
    margin-top: -710px;
}

.mainHead{
    margin-left: 7px;
    font-family: Cursive;
    color: rgb(255, 246, 246);
    
}

.mainText{
    font-size:x-large;
    margin-left: 7px;
    color: rgb(255, 246, 246);
}
.signup{
    margin-top: -50px;
    font-family: Cursive;
    color: rgb(93, 92, 92);
    font-size: x-large;
    margin-left: 110px;
}

.header{
    color: rgb(93, 92, 92);
    font-size: large;
    margin-top: -30px;
    margin-left: 200px;
}

.inputFields{
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    height: 20px;

}

.inputFieldsLarge{
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    height: 20px;
    width: 320px
}

.inputFieldsAdd{
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    background-color: transparent;
    height: 40px;
    width: 320px
}

.innerdiv{
    margin-left: -130px;
}
 .info{
    font-family: Monospace;
    color: rgb(93, 92, 92);
    font-size: x-large;
 }

 .securityText{
    color: rgb(93, 92, 92);
    font-size: large;
 }

 .signupButton{
    background-color: rgba(13, 103, 17, 0.861);
    color: white;
    margin: 8px 0;
    border: none;
    margin-left: 190px;
    border-radius: 5px;
    cursor: pointer;
    width: 130px;
    height: 40px;
    font-weight: bolder;
}
 input[type=submit]:hover {
    background-color: #45a049;
}

.loginText{
    color: rgb(93, 92, 92);
    font-size: medium;
    margin-left: 137px;
}

.loginFormDiv{
    margin-left: 300px;
    background-color: rgba(226, 225, 225, 0.567);
    height: 540px;
    width: 600px;
    border-radius: 5px;
    margin-top: -470px;
}

.login{
    font-family: Cursive;
    color: rgb(93, 92, 92);
    font-size: x-large;
    margin-left: 110px;
}
.loginheader{
    color: rgb(93, 92, 92);
    font-size: large;
    margin-top: -30px;
    margin-left: 183px;
}

.forgetDiv{
    margin-left: 300px;
    background-color: rgba(226, 225, 225, 0.567);
    height: 680px;
    width: 600px;
    border-radius: 5px;
    margin-top: -220px;
}
.forgetPass{
    font-family: Cursive;
    color: rgb(93, 92, 92);
    font-size: x-large;
    margin-left: 220px;
}
.resPass{
    font-family: Cursive;
    color: rgb(93, 92, 92);
    font-size: x-large;
    margin-left: 206px;
}
.resetDiv{
    margin-left: 300px;
    background-color: rgba(226, 225, 225, 0.567);
    height: 520px;
    width: 600px;
    border-radius: 5px;
    margin-top: -80px; 
}
#errorMessage{
    color: red;
    font-size: small;
}
.erroeMessageGroup{
    margin-left: 15px;
}

.adminLogin{
    margin-left: 575px;
    background-color: rgba(226, 225, 225, 0.567);
    height: 420px;
    width: 600px;
    border-radius: 5px;
}
.dem{
    height: 450px;
    width: 200px;
}
h5{
    font-family: Cursive;
    font-size:xx-large;
}
#do{
    width: 65px;
    border-radius:16px;
    margin-left: -11px;
    position: fixed;
    bottom: 0;
    z-index: 1; 
    border: 2.5px solid  rgba(200, 88, 155, 0.855);
    background-color: rgb(236, 236, 236);
}
#cosc{
    position: fixed;
}
#icons{
    margin-left: -43px;
    color: rgb(230, 228, 228);
}
ul{
    margin: 0;
    padding: 270px;
    list-style-type:none;
}
ul li a:hover{
    cursor: pointer;
}
#div.fix{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    
    z-index: 9;
}

.ic{
    height: 30px;
    width: 30px;
    margin-left: 15px;
}
.mainlogo{
    margin-top: 550px;
    height: 100px;
}
#firstCard{
    margin-top: 780px;
    margin-left: 330px;
    z-index: -1;
}
#controller{
    height: 500px;
    width: 650px;
}
#secondCard{
    margin-top: -500px;
    margin-left: 750px;
    z-index: -1;
}
#para{
    margin-top: 480px;
    margin-left: 200px;
    width: 400px;
    text-align: justify;
    height: 250px;
    border-radius: 20px;
}